<%- include("partials/headerLoggedin"); -%>
<% for(var i = 0; i < frndshelf.length; i++) { %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= frndshelf[i].book_title %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<% } %>

<%- include("partials/footer"); -%>
